/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    width:600px;
    margin:auto;
    

}

#topbar
{
    font-family:Verdana;
    font-weight:normal;
    font-size:10px;
    color:#EAE8D3;
    padding-bottom:15px;
    padding-top:5px;
    text-align:right;
    background:url(pics/coffey.jpg) no-repeat bottom center;
    height:200px;
    width:600px;
    background-color:#4E443B;
    border-style:solid;
    border-width:1px;
    border-color:#918D82;
}

#menu
{
    background-color:#4E443B;
    height:42px;
    border-style:solid;
    border-width:1px;
    border-color:#918D82;
    width:600px;
}

#menu > a:first-child
{
    display:none;
}

#menu li
{
    font-family:Verdana;
    font-weight:normal;
    text-transform:capitalize;
    font-size:14px;
    float:left;
    list-style-type: none;
}

a:link 
{ 
    color:#EAE8D3;
    background-color:#918D82;
    text-decoration:none;
    font-weight:normal;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    margin-left:1px;
}

a:visited 
{     
    color:#EAE8D3;
    background-color:#918D82;
    text-decoration:none;
}

a:focus 
{     
    color:#EAE8D3;
    background-color:#918D82;
    text-decoration:none;
}

a:hover 
{     
    color:#EAE8D3;
    background-color:#B0B0B0;
    text-decoration:none;
}

a:active 
{     
    color:#EAE8D3;
    background-color:#918D82;
    text-decoration:none;
}


#content
{
    height:400px;
    width:600px;
    background-color:#EAE8D3;
    border-style:solid;
    border-width:1px;
    border-color:#918D82;
}

#maincontent
{
    font-family:Verdana;
    font-weight:normal;
    font-size:13px;
    line-height:150%;
    color:#918D82;
    float:left;
    width:350px;
    padding:10px;
}

#maincontent h1
{
    font-family:"Times New Roman";
    font-weight:normal;
    font-size:30px;
    color:#666;
}

#maincontent img
{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

#subcontent h1
{
    font-family:"Times New Roman";
    font-weight:normal;
    font-size:18px;
    color:#4D4D4D;
}

#subcontent h2
{
    margin-top:30px;
    font-family:"Times New Roman";
    font-weight:normal;
    color:#4D4D4D;
}

#subcontent li
{
    list-style-type: none;
    margin-left:-40px;
}

#subcontent
{
    font-family:Verdana;
    font-weight:normal;
    color:#918D82;
    font-size:9px;
    line-height:200%;
    width:190px;
    margin-left:390px;
    margin-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    border-left-style:dashed;
    border-width:1px;
}

#bottomcontent
{
    visibility:hidden;
}
#bottomcontent:after
{
    font-family:verdana;
    content: '\00a9  Högskolan i Kalmar, Institutionen för kommunikation och design';
    visibility:visible;
    float:left;
    color:#918D82;
    font-size:10px;
    margin-left:10px;
    font-style:italic
}

/* Länkar */



#subcontent a:link 
{ 
    color:#4D4D4D;
    font-size:12px;
    font-weight:normal;
    background-color:transparent;
    padding:0px;
    margin:0px;
}

#subcontent a:visited 
{     
    color:#4D4D4D;
}

#subcontent a:focus 
{     
    color:#4D4D4D;
}

#subcontent a:hover 
{     
    color:#9E9E9E;
}

#subcontent a:active 
{     
    color:#4D4D4D;
}

.active a
{
    color:#4D4D4D;
    background-color:#EAE8D3;
    border-bottom-style:solid;
    border-bottom-color:#EAE8D3;
}
